	     #wrapper {
		 width:800px;
		 height:1000px;
		 border:2px solid #213;
		 margin:0 auto;
		 
		 }
	  
	     #header {
		 
		 width:100%;
		 height:20%;
		 background-color:#516;
		 float:left;
		 }
		 
		 #logo{
		 width:25%;
		 height:100%;
		 background-color:#596;
		 float:left;
		 }
	     
		 
		 
		  #banner{
		 width:75%;
		 height:100%;
		 background-color:#566;
		 float:left;
		
		 }
	     
		 #menu {
		 
		 width:100%;
		 height:5%;
		 background-color:blue;
		 float:left;
		
		 }
		 
		 .menubox {
		 width: 19.7%;;
		 height: 37.6;%;
		 background-color:orange;
		 float:left;
		 margin-right:2px;
		 text-align:center;
		 padding-top:15px;
		 color:red;
		 font-family:Times new roman;
		 font-style: italic;
		 font-weight: bold;
		 font-size:18px;
		 
		 }
		 .menubox:hover{
		 background-color:#234;
		 
		 }
		 
		 #footer{
		 
		 width:100%;
		 height:5%;
		 background-color:orange;
		 float:left;
		 }
		 
		 
		 #Content{
		 
		 width:100%;
		 height:70%;
		 
		
		 background-color:yellow;
		 float:left;
		 }
		 